{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": ["pages/side-panel/src/utils/spiritOverlayInject.js"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
